<configuration debug="false">
    <property name="BTECTRANSFORMER_HOME" value="/BtecTransformer/input/Development/Writings/Unit Drafts" />

<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>btec_transform_status_report.rtf</file>
        <append>false</append>
        <encoder>
            &lt;!&ndash;<pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS} %level %logger{0} %msg%n</pattern>&ndash;&gt;
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>-->

<!--
    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/btecwordopenxmlapp.log</file>
        <encoder>
            <pattern>%d{yy/MM/dd HH:mm:ss.SSS}[%thread] %-5level %logger.%M [%F:%L] %msg %n</pattern>
        </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>btecwordopenxmlapp.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    -->

    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/tomcat8/BTECWORDOPENXML-APP.log</file>
        <encoder>
            <pattern>%d{yy/MM/dd HH:mm:ss.SSS}[%thread] %-5level %logger.%M [%F:%L] %msg %n</pattern>
        </encoder>

    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yy/MM/dd HH:mm:ss.SSS}[%thread] %-5level %logger.%M [%F:%L] %msg %n</pattern>
            <!--<pattern>%fullRequest%n%n%fullResponse</pattern>-->
        </layout>
    </appender>

    <!--
    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/btecwordopenxmlapp.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <logger name="org.springframework.core" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.springframework.beans" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.springframework.context" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.springframework.http" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.springframework.web" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.springframework.security" level="debug" appender-ref="LOGFILE"/>
    <logger name="com.mysql" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.hibernate" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.hibernate.type" level="debug" appender-ref="LOGFILE"/>
    <logger name="org.docx4j" level="error"/>

	<!-- Configure your top level package below -->
	<!--<logger name="com.pearson" level="INFO" />-->
    <logger name="com.pearson.app" level="debug" appender-ref="LOGFILE"/>
    <logger name="com.pearson.btec" level="info" appender-ref="LOGFILE"/>

    <!--<logger name="org.springframework.aop" level="trace" />-->
	<logger name="org.springframework.test" level="debug" appender-ref="LOGFILE"/>
	<!--<logger name="org.junit" level="DEBUG" />-->

 	<!--<logger name="org.aspectj" level="trace" />-->


    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGFILE" />
    </root>
</configuration>