<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Wizard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                Transform
            </li>
            <li class="active">
                <strong>Single</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <div class="container">
                <h2><strong>Perform a document transformation</strong></h2>
                <p>This wizard will guide you through the steps to upload, extract and transform content from Microsoft Word BTEC Specification documents into XML.</p>
                </div>
            </div>
        </div>
    </div>












    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Step 1 - Dropzone Area</h5>

                    <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                    </div></div>
                </div>
                <div class="ibox-content">
                    <h2>
                        Upload Word document
                    </h2>

                    <p>
                        Upload your BTEC Specification Word document by dropping the file into the dropzone area below
                    </p>




                    <!-- The file upload form used as target for the file upload widget -->
                    <form id="fileupload" action="/upload" method="POST" enctype="multipart/form-data" data-ng-controller="DocumentTransformsCtrl" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript><input type="hidden" name="redirect" value="/upload"></noscript>
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                                </span>
                                <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table class="table table-striped files ng-cloak">
                            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                                <td data-ng-switch data-on="!!file.thumbnailUrl">
                                    <div class="preview" data-ng-switch-when="true">
                                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                    </div>
                                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                </td>
                                <td>
                                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                                        <span data-ng-switch-default>{{file.name}}</span>
                                    </p>
                                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                </td>
                                <td>
                                    <p class="size">{{file.size | formatFileSize}}</p>
                                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start</span>
                                    </button>
                                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                    <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>










                    <!-- JQuery File upload from http://blueimp.github.io/jQuery-File-Upload/angularjs.html -->


                    <!-- The file upload form used as target for the file upload widget -->
<!--
                    <form id="fileupload" action="/upload" method="POST" enctype="multipart/form-data">
                        &lt;!&ndash; Redirect browsers with JavaScript disabled to the origin page &ndash;&gt;
                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                        &lt;!&ndash; The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload &ndash;&gt;
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                &lt;!&ndash; The fileinput-button span is used to style the file input field as button &ndash;&gt;
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" class="toggle">
                                &lt;!&ndash; The global file processing state &ndash;&gt;
                                <span class="fileupload-process"></span>
                            </div>
                            &lt;!&ndash; The global progress state &ndash;&gt;
                            <div class="col-lg-5 fileupload-progress fade">
                                &lt;!&ndash; The global progress bar &ndash;&gt;
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                &lt;!&ndash; The extended global progress state &ndash;&gt;
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        &lt;!&ndash; The table listing the files available for upload/download &ndash;&gt;
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>


-->



                    <!-- The file upload form used as target for the file upload widget -->
<!--                    <form id="fileupload"
                          action="/upload" method="POST" enctype="multipart/form-data"
                          class="dropzone"
                          data-ng-app="demo"
                          data-ng-controller="DocumentTransformSingleCtrl"
                          data-file-upload="options"
                          data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                        &lt;!&ndash; Redirect browsers with JavaScript disabled to the origin page &ndash;&gt;
                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                        &lt;!&ndash; The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload &ndash;&gt;
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                &lt;!&ndash; The fileinput-button span is used to style the file input field as button &ndash;&gt;
                                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                                </span>
                                <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                                &lt;!&ndash; The global file processing state &ndash;&gt;
                                <span class="fileupload-process"></span>
                            </div>
                            &lt;!&ndash; The global progress state &ndash;&gt;
                            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                &lt;!&ndash; The global progress bar &ndash;&gt;
                                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                &lt;!&ndash; The extended global progress state &ndash;&gt;
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        &lt;!&ndash; The table listing the files available for upload/download &ndash;&gt;
                        <table class="table table-striped files ng-cloak">
                            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                                <td data-ng-switch data-on="!!file.thumbnailUrl">
                                    <div class="preview" data-ng-switch-when="true">
                                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                    </div>
                                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                </td>
                                <td>
                                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                                        <span data-ng-switch-default>{{file.name}}</span>
                                    </p>
                                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                </td>
                                <td>
                                    <p class="size">{{file.size | formatFileSize}}</p>
                                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start</span>
                                    </button>
                                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                    <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>-->






                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Step 2 - Transformation wizard</h5>

                    <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                    </div></div>
                </div>
                <div class="ibox-content wizard">
                    <h2>
                        Process your uploaded document
                    </h2>

                    <p>
                        Follow the steps to complete a to validate, extract and transform your documents.
                        Correct Word document and repeat if error messages are displayed in the messages window.
                        <br>
                        <strong>Data from ng-model.</strong><br>
                        <code class="ng-binding">{}</code>
                    </p>





<!--
                    <div class="steps clearfix">
                        <ul>

                            <li ui-sref-active="current" class="current">
                                <a ui-sref=".step_one" class="btn-default"><span>1</span> Validate document</a>
                            </li>
                            <li ui-sref-active="current" class="">
                                <a ui-sref=".step_two" class="btn-default"><span>2</span> Extract Content</a>
                            </li>
                            <li ui-sref-active="current" class="">
                                <a ui-sref=".step_three" class="btn-default"><span>3</span> Transform XML</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard">
                        <div class="content">


                            <form name="signupForm" ng-submit="processForm()" class="p-lg ng-pristine ng-valid ng-valid-minlength">

                                &lt;!&ndash; our nested state views will be injected here &ndash;&gt;
                                &lt;!&ndash; uiView:  &ndash;&gt;
                                <div id="form-views" ui-view="" class="ng-scope"><fieldset class="ng-scope">
                                <h2>Account Information</h2>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label>Username *</label>
                                            <input id="userName" ng-model="formData.username" name="username" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-minlength" ng-minlength="8">
                                            <p ng-show="signupForm.username.$error.minlength" class="help-block ng-hide">Example of validation - Username is too short (min 8 signs)</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Password *</label>
                                            <input id="password" ng-model="formData.password" name="password" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password *</label>
                                            <input id="confirm" name="confirm" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-center">
                                            <div style="margin-top: 20px">
                                                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a ui-sref="forms.wizard.step_two" class="btn btn-primary" href="/forms/wizard/step_two">Next</a>
                            </fieldset></div>
                            </form>
                        </div>
                    </div>
-->

                </div>
            </div>
        </div>

    </div>

</div>