<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Manage</a>
            </li>
            <li class="active">
                <strong>Settings</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Template
                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4 b-r"><h3 class="m-t-none m-b">Template configuration</h3>

                        <p>Configure word document template properties:</p>
                        The template selected is {{ myTemplate.templateName }}.
                        <form role="form">
                            <div class="form-group"><label>Select Template:</label>
                                <select ng-model="myTemplate"
                                        ng-options="myTemplate.templateName for myTemplate in templates"
                                        class="form-control">
                                    <option value="">-- Select template --</option>

                                </select></div>
                            <div class="form-group">
                                <label>Template Id</label>
                                <input type="text" disabled ng-model="myTemplate.id" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Template Name</label>
                                <input type="text" ng-model="myTemplate.templateName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" ng-model="myTemplate.description" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Revision</label>
                                <input type="text" ng-model="myTemplate.revision" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-8"><h4>Template Transformation Scripts and Schemas</h4>

                        <p>Configure the file path to the OpenXML transform script and output validation schemas:</p>

                        <div class="form-group">
                            <label>XSD Schema file (Validates output)</label>
                            <input type="text" ng-model="myTemplate.xsdScriptLocation" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>XSLT Transform stylesheet (Transforms XML document)</label>
                            <input type="text" ng-model="myTemplate.xsltScriptLocation" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Xquery document query (Queries section XML data sets)</label>
                            <input type="text" ng-model="myTemplate.xQueryScriptLocation" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a ng-click='addNewTemplate()' class="btn btn-small btn-success">Add new Template</a>
                        <button ng-click="deleteTemplate(myTemplate.id)" class="btn btn-danger" type="submit">Delete</button>
                        <button ng-show="myTemplate.id == null" ng-click="createNewTemplate(myTemplate)" class="btn btn-primary" type="submit">Create</button>
                        <button ng-show="myTemplate.id > 0" ng-click="updateTemplate(myTemplate)" class="btn btn-primary" type="submit">Save changes</button>
                        <button ng-click="cancel()" class="btn btn-white" type="submit">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Template Elements Settings</h5>
    <div ibox-tools></div>
</div>
<div class="ibox-content">
<form method="get" class="form-horizontal">
        <div class="row">
            <div class="col-md-1">
                <div class="input-group">
                    <label class="control-label">ID</label>&nbsp;
                </div>
            </div>
            <div class="col-md-1">
                <div class="input-group">
                    <label class="control-label">Visible in XML</label>
                </div>
            </div>
            <div class="col-md-2"><label class="control-label">Name</label></div>
            <div class="col-md-2"><label class="control-label">Type</label></div>
            <div class="col-md-2"><label class="control-label">Value</label></div>
            <div class="col-md-2"><label class="control-label">Style</label></div>
            <div class="col-md-1"><label class="control-label">Validate In Word</label></div>
            <div class="col-md-1"><label class="control-label">Action</label></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="row" ng-repeat="section in myTemplate.templatesection" ng-model="myTemplate.templatesection">
            <div class="col-md-1">
                <div class="input-group text-nowrap text-center">
                    <label ng-bind="section.id" class="control-label"/>
                    <input type="hidden" ng-model="myTemplate.templatesection[$index].id"/>
                    &nbsp;
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="input-group text-nowrap text-center">
                    <input type="checkbox" ng-model="myTemplate.templatesection[$index].showSection">
                </div>
            </div>
            <div class="col-md-2">
                    <input type="text" ng-model="myTemplate.templatesection[$index].sectionName" class="form-control">
            </div>
            <div class="col-md-2">
                <select ng-model="myTemplate.templatesection[$index].sectionType"
                        ng-options="sectionType.type as sectionType.name for sectionType in sectionTypes"
                        class="form-control">
                </select>
            </div>
            <div class="col-md-2"><input type="text" ng-model="myTemplate.templatesection[$index].sectionValue" class="form-control"></div>
            <div class="col-md-2"><input type="text" ng-model="myTemplate.templatesection[$index].sectionStyle" class="form-control"></div>
            <div class="col-md-1 text-center"><input type="checkbox" ng-model="section.validateInWordDoc"/></div>
            <div class="col-md-1">
                <!--<a ng-click="editUser(user.id)" class="btn btn-small btn-primary">edit</a>-->
                <a ng-click="deleteTemplate(section.id)" class="btn btn-small btn-danger">delete</a>
            </div>
        </div>

    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <a ng-click='myTemplate.templatesection.push({"sectionType":null,"sectionStyle":null,"sectionName":null,"sectionValue":null,"showSection":false,"validateInWordDoc":false})' class="btn btn-small btn-success">Add new element</a>
            <button ng-show="myTemplate.id > 0" ng-click="updateTemplate(myTemplate)" class="btn btn-primary" type="submit">Save changes</button>
            <button ng-click="cancel()" class="btn btn-white" type="submit">Cancel</button>
        </div>
    </div>
</form>
   <pre>
      {{myTemplate | json}}
    </pre>
</div>
</div>
</div>
</div>


</div>
