<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Wizard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                Transform
            </li>
            <li class="active">
                <strong>Single</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <div class="container">
                <h2><strong>Perform a document transformation</strong></h2>
                <p>This wizard will guide you through the steps to upload, extract and transform content from Microsoft Word BTEC Specification documents into XML.</p>
                </div>
            </div>
        </div>
    </div>





    <h1>Todos</h1>
    <h4>{{bigTotalItems}} remain</h4>
    <ul>
        <li ng-repeat="transformation in filteredTransformations">{{transformation.unitTitle}}</li>
    </ul>


        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>


</div>


<script src="js/plugins/staps/jquery.steps.min.js"></script>