<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Welcome {{vm.username}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">


            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">New</span>
                            <h5>New Documents</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{totalResultsRecent}}</h1>

                            <!--<div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>-->
                            <small>Unread documents</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Available</span>
                            <h5>Archived Documents</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{totalDocumentsCount}}</h1>

                            <!--<div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>-->
                            <small>Total documents</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-danger pull-right">Failures</span>
                            <h5>Alerts</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{recentAlertsCount}}</h1>

                            <!--<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>-->
                            <small>Failed transforms</small>
                        </div>
                    </div>
                </div>
            </div>



            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Updates - showing page: {{currentPage}} / {{numOfPagesRecent}}  out of a total {{totalResultsRecent}} transformed documents</h5>

                    <span class="label label-primary">Updated {{lastUpdateDate}}</span>


                    <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                        <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-toggle" href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="">Config option 1</a>
                            </li>
                            <li><a href="">Config option 2</a>
                            </li>
                        </ul>
                        <a ng-click="closebox()"><i class="fa fa-times"></i></a>
                    </div></div>
                </div>
                <div class="ibox-content">
                    <h3><i class="fa fa-envelope"></i> {{recentNewDocumentsCount}} New documents</h3>

                    <div class="row">
                        <div class="col-sm-3 m-b-xs">
                            Filter
                            <div class="btn-group" data-toggle="buttons-radio">
                                <a href class="btn btn-sm btn-white" ng-click="eventDateFilter('all')">All</a>
                                <a href class="btn btn-sm btn-white" ng-click="eventDateFilter('today')">Today</a>
                                <a href class="btn btn-sm btn-white" ng-click="eventDateFilter('pastWeek')">Week</a>
                                <a href class="btn btn-sm btn-white" ng-click="eventDateFilter('pastMonth')">Month</a>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="input-group"><input ng-model="search" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                        <div class="col-sm-4">
                            <pagination style="margin: 0px;"
                                    total-items="totalResults"
                                    ng-model="currentPage"
                                    boundary-links="true"
                                    num-pages="noOfPages"
                                    max-size="maxSize"
                                    item-per-page="numPerPage"
                                    class="btn-group">
                            </pagination>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="feed-activity-list">

                        <!--<div class="feed-element" ng-repeat="transformation in filteredPagnRecentTransformations" ng-if="transformation.date > dateRange">-->
                        <div class="feed-element" ng-repeat="transformation in filteredPagnRecentTransformations">
                            <div>
                                <small class="pull-right">{{transformation.lastmodified}}</small>

                                <a href="#/userprofile/{{transformation.user.id}}"><i class="fa fa-user"></i><strong> {{transformation.user.username}} </strong> - {{transformation.user.firstname}} {{transformation.user.lastname}} </a>

                                <div ng-show="transformation.transformStatus == 'TRANSFORM_STATUS_SUCCESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_FILE_UPLOAD_IN_PROGRESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_EXTRACTION_IN_PROGRESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_TRANSFORM_IN_PROGRESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_SUCCESS2'">

                                    <i alt="{{transformation.transformStatus}}"
                                       class="fa" ng-class="{
                                           'TRANSFORM_STATUS_FILE_UPLOAD_IN_PROGRESS' : 'fa-cloud-upload text-info',
                                           'TRANSFORM_STATUS_EXTRACTION_IN_PROGRESS' : 'fa-refresh text-info',
                                           'TRANSFORM_STATUS_TRANSFORM_IN_PROGRESS' : 'fa-cogs text-info',
                                           'TRANSFORM_STATUS_SUCCESS' : 'fa-check text-navy',
                                           'TRANSFORM_STATUS_SUCCESS2' : 'fa-star text-navy'
                                           }[transformation.transformStatus]">
                                    </i>
                                    {{transformation.transformStatus | transformStatus}}
                                    <br/>
                                        Qan: {{transformation.qanNo}}</strong> |
                                        Unit number: {{transformation.unitNo}} |
                                        Unit Title: {{transformation.unitTitle}} |
                                        Author(s): {{transformation.author}} -
                                    <a href="#/document/{{transformation.id}}" alt="Click to view">
                                        Click to view details</a>
                                </div>
                                <div ng-hide="transformation.transformStatus == 'TRANSFORM_STATUS_SUCCESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_FILE_UPLOAD_IN_PROGRESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_EXTRACTION_IN_PROGRESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_TRANSFORM_IN_PROGRESS' ||
                                    transformation.transformStatus == 'TRANSFORM_STATUS_SUCCESS2'">
                                    Qan: {{transformation.qanNo}}</strong> |
                                    Unit number: {{transformation.unitNo}} |
                                    Unit Title: {{transformation.unitTitle}} |
                                    Word File(s): {{transformation.wordfilename}} - <br/>

                                    <a href="#/document/{{transformation.id}}" class="text-danger" href="" alt=" Click to view alert">
                                        <i alt="{{transformation.transformStatus}}"
                                            class="fa" ng-class="{
                                           'TRANSFORM_STATUS_FAIL' : 'fa-times text-danger',
                                           'TRANSFORM_STATUS_FAIL_VALIDATE_WORD' : 'fa-word-file-o text-warn',
                                           'TRANSFORM_STATUS_FAIL_EXTRACT_WORD_TO_XML' : 'fa-word-file-o text-danger',
                                           'TRANSFORM_STATUS_FAIL_TRANSFORM' : 'fa-cogs text-danger',
                                           'TRANSFORM_STATUS_FAIL_TRANSFORM_XML_TO_IQSXML_XSLT' : 'fa-file-text-o text-danger',
                                           'TRANSFORM_STATUS_XML_TO_IQSXML_XQUERY' : 'fa-file-text text-danger',
                                           'TRANSFORM_STATUS_FAIL_IQS_VALIDATION' : 'fa-bell text-danger',
                                           'TRANSFORM_STATUS_FAIL_FILE_WRITE' : 'fa-pencil-square-o text-danger',
                                           }[transformation.transformStatus]">
                                        </i>
                                        {{transformation.transformStatus | transformStatus}} - <span class="alert-link">Click to view error messages</span></a>.
                                </div>
                                <small class="text-muted">Last updated - {{transformation.lastmodified}}</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-title">
                            <h5>Archived Documents</h5>

                            <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                                <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                                <a ng-click="closebox()"><i class="fa fa-times"></i></a>
                            </div></div>
                        </div>
                        <div class="ibox-content">




            <div class="row">
                <div class="col-lg-12" >
                    <!--<div class="file-box" ng-repeat="transformation in transformations | limitTo:40 | filter: searchText" ng-if="transformation.date > dateRange">-->
                    <div class="file-box" ng-repeat="transformation in transformations | limitTo:40 | filter: searchText">
                        <div class="file">
                            <a href="#/document/{{transformation.id}}">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    <b>{{transformation.unitTitle}}</b>
                                    <br/>
                                    {{transformation.wordfilename}}
                                    <br/>
                                    <small>Added: {{transformation.lastmodified}}</small>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End of wrapper-content -->
    </div>
</div>