<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Document detail</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                Document
            </li>
            <li class="active">
                <strong>Detail</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-9">
<div class="wrapper wrapper-content animated fadeInUp">
<div class="ibox">
<div class="ibox-content">
<div class="row">
    <div class="col-lg-12">
        <div class="m-b-md">
            <a href="" class="btn btn-white btn-xs pull-right">Edit project</a>

            <h2>Transformation Results</h2>
        </div>
        <dl class="dl-horizontal">
            <dt>Transform Status:</dt>
            <dd>
             <span ng-class="{
                    'TRANSFORM_STATUS_FILE_UPLOAD_IN_PROGRESS' : 'label label-primary',
                   'TRANSFORM_STATUS_EXTRACTION_IN_PROGRESS' : 'label label-primary',
                   'TRANSFORM_STATUS_TRANSFORM_IN_PROGRESS' : 'label label-primary',
                   'TRANSFORM_STATUS_SUCCESS' : 'label label-primary',
                   'TRANSFORM_STATUS_SUCCESS2' : 'label label-primary',
                   'TRANSFORM_STATUS_FAIL' : 'label label-danger',
                   'TRANSFORM_STATUS_FAIL_VALIDATE_WORD' : 'label label-danger',
                   'TRANSFORM_STATUS_FAIL_EXTRACT_WORD_TO_XML' : 'label label-danger',
                   'TRANSFORM_STATUS_FAIL_TRANSFORM' : 'label label-danger',
                   'TRANSFORM_STATUS_FAIL_TRANSFORM_XML_TO_IQSXML_XSLT' : 'label label-danger',
                   'TRANSFORM_STATUS_XML_TO_IQSXML_XQUERY' : 'label label-danger',
                   'TRANSFORM_STATUS_FAIL_IQS_VALIDATION' : 'label label-danger',
                   'TRANSFORM_STATUS_FAIL_FILE_WRITE' : 'label label-danger'
               }[transformation.transformStatus]">{{transformation.transformStatus | transformStatus}}
            </span>
            </dd>
            <dt>Messages:</dt>
            <dd> {{transformation.message}}</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>Document Status:</dt>
            <dd><span class="label label-default">{{transformation.generalStatus | generalStatus}}</span></dd>
            <dt>Created by:</dt>
            <dd><strong> {{transformation.user.username}} </strong> - {{transformation.user.firstname}} {{transformation.user.lastname}}</dd>
            <dt>Created:</dt>
            <dd> {{transformation.date}}</dd>
            <dt>Last Updated:</dt>
            <dd> {{transformation.lastmodified}}</dd>
            <dt>Template name:</dt>
            <dd><a href="" class="text-navy"> {{transformation.template}}</a></dd>
            <dt>Qan No:</dt>
            <dd> {{transformation.qanNo}}</dd>
            <dt>Unit number:</dt>
            <dd> {{transformation.unitNo}}</dd>
            <dt>Unit Title:</dt>
            <dd> {{transformation.unitTitle}}</dd>
            <dt>Author:</dt>
            <dd> {{transformation.author}} </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>Project files:</dt>
            <dd>
                <ul class="list-unstyled project-files">
                    <li><a target="_self" href="/processtransform/view/{{transformation.wordfilename}}" class="text-navy"><i class="fa fa-file-word-o"></i> {{transformation.wordfilename}}</a></li>
                    <li><a target="_self" href="/tranformation/xml/{{transformation.id}}/download" class="text-navy"><i class="fa fa fa-file-code-o"></i>{{transformation.openxmlfilename}}</a></li>
                    <li><a target="_self" href="/tranformation/pqs/{{transformation.id}}/download" class="text-navy"><i class="fa fa fa-file-text-o"></i>{{transformation.iqsxmlfilename}}</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

<div class="row m-t-sm">
<div class="col-lg-12">
<div class="panel blank-panel ui-tab">

<h4>Project History</h4>
<tabset>
    <tab heading="Last activity">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Transform result</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <i alt="{{transformation.generalStatus}}"
                       class="fa fa-2x" ng-class="{
                   'GENERAL_STATUS_UNREAD' : 'fa-envelope',
                   'GENERAL_STATUS_READ' : 'fa-envelope-o',
                   'GENERAL_STATUS_MODIFIED' : 'fa-pencil-square-o',
                   'GENERAL_STATUS_DELETED' : 'fa-trash-o'
                   }[transformation.generalStatus]">
                    </i>
                    <br/>
                    <!--http://stackoverflow.com/questions/24200729/ng-if-not-equal-to-->
                     <small ng-cloak> {{transformation.generalStatus | generalStatus}} </small>
                </td>
                <td>
                    {{transformation.date}}
                </td>
                <td>
                    {{transformation.transformStatus | transformStatus}}
                </td>
                <td>
                    <p class="small">
                        {{transformation.message}}
                    </p>
                </td>

            </tr>

            </tbody>
        </table>
    </tab>

</tabset>

</div>
</div>
</div>








</div>
</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Word XML View - Edit and Save</h5>
                    <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()" type="button">Edit</button>
                    <button id="save" class="btn btn-primary  btn-xs" onclick="save()" type="button">Save</button>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">


                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <span class="panel-title" >
                                          Title
                                    </span>
                                </div>

                                <div id="collapseMeta" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <form class="form-inline" role="form">
                                            <div class="form-group">

                                                <div class="row">

                                                    Unit Title
                                                    number | level | type | guided_learning_hours | assessment_type

                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>



                            <div class="panel-body">


                            </div>
                        </div>
                    </div>






                <div class="row" ng-repeat="section in specunit.section">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{section.data('title')}}
                            </div>
                            <div class="panel-body">

                                <div class="click2edit wrapper p-md">
                                    {{section.table}}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>

</div>
</div>

</div>

<!-- SUMMERNOTE -->
<script src="js/plugins/summernote/summernote.min.js"></script>

<script>
    $(document).ready(function(){

        $('.summernote').summernote();

    });
    var edit = function() {
        $('.click2edit').summernote({focus: true});
    };
    var save = function() {
        var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
        $('.click2edit').destroy();
    };
</script>