<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>File upload</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>File upload</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">


    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <div class="container">
                    <h2><strong>Perform a document transformation</strong></h2>
                    <p>This wizard will guide you through the steps to upload, extract and transform content from Microsoft Word BTEC Specification documents into XML.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Specify a Angular controller script that binds Javascript variables to the feedback messages.-->
    <div class="message" ng-controller="alertMessagesFileUploadController">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Step 1 </h5>

                    <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                    </div></div>
                </div>
                <div class="ibox-content">
                    <h2>
                        Upload Word document
                    </h2>

                    <p>
                        Upload your BTEC Specification Word document by either drag and dropping Word documents file
                        on to this page or choose a Word document by clicking on 'Add files'.</p>

                        <!-- The file upload form used as target for the file upload widget -->
                    <form id="fileupload" action="/upload" method="POST" enctype="multipart/form-data" data-ng-controller="FileUploadCtrl" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                            <!-- Redirect browsers with JavaScript disabled to the origin page -->
                            <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="row fileupload-buttonbar">
                                <div class="col-lg-7">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Add files...</span>
                                        <input type="file" name="files[]" multiple ng-disabled="disabled">
                                    </span>
                                    <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start upload</span>
                                    </button>
                                    <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel upload</span>
                                    </button>
                                    <!-- The global file processing state -->
                                    <span class="fileupload-process"></span>
                                </div>
                                <!-- The global progress state -->
                                <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                    <!-- The extended global progress state -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table class="table table-striped files ng-cloak">
                                <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                                    <td data-ng-switch data-on="!!file.thumbnailUrl">
                                        <div class="preview" data-ng-switch-when="true">
                                            <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                        </div>
                                        <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                    </td>
                                    <td>
                                        <p class="name" data-ng-switch data-on="!!file.url">
                                            <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                                <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                                <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                            </span>
                                            <span data-ng-switch-default>{{file.name}}</span>
                                        </p>
                                        <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                    </td>
                                    <td>
                                        <p class="size">{{file.size | formatFileSize}}</p>
                                        <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span>Start</span>
                                        </button>
                                        <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                            <span>Cancel</span>
                                        </button>
                                        <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy && file.lastUpdated == null">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <!--<pre class="ng-binding">{{queue | json}}</pre>-->
                        </form>
                            <button class="btn btn-primary pull-right" ng-click="refresh()">
                                <i class="fa fa-refresh fa-1x"></i> Refresh
                            </button>
                        <br>


<!--    <pre ng-controller="FileUploadCtrl">
      {{queue | json}}
    </pre>-->
                    <!-- JQuery File upload from http://blueimp.github.io/jQuery-File-Upload/angularjs.html -->

                </div>
            </div>
        </div>

    </div>





    <div class="row" data-ng-hide="myTransforms[0]==null">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Step 2 </h5>

                    <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                    </div></div>
                </div>
                <div class="ibox-content wizard">
                    <h2>Process your uploaded document</h2>
                    <br/>
                    <p>
                        Select the Word Document Template for each uploaded document. Then click on on 'Transform' to begin.
                        Follow the steps to complete a to validate, extract content and transform your Word documents to XML.
                        Correct Word document and repeat if error messages are displayed in the messages window.
                        <br>
                        * Required fields
                    </p>

                        <table class="table table-striped files ng-cloak">
                            <tr data-ng-repeat="item in myTransforms">
                                <td>
                                    <label>Word Document Filename:</label>
                                    <p class="name">
                                        <span>{{item.file.name}}</span>
                                    </p>
                                    <label>OpenXML Filename:</label>
                                    <input type="text" ng-model="item.openxmlfilename" class="form-control">
                                    <label>PQS XML Filename:</label>
                                    <input type="text" ng-model="item.iqsxmlfilename" class="form-control">
                                    <strong data-ng-show="item.file.error" class="error text-danger">{{item.file.error}}</strong>
                                </td>
                                <td>
                                    <div class="form-horizontal">
                                        <label>Select Template:*</label>
                                        <select ng-model="item.template"
                                                class="form-control"
                                                data-ng-options="o.templateName for o in templates">
                                            <option value="">-- Select template --</option>
                                        </select>
                                        <label>UAN number (if available):</label>
                                        <input type="text" ng-model="item.qanNo" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <!--Selected: {{myUpload.template.templateName}} {{myUpload.template.id}}-->
                                        <!--File:{{file.name}} {{file.id}}-->
                                        <button class="btn btn-success" ng-click="createTransformation(item)" ng-disabled="item.template.templateName==null">
                                            <i class="fa fa-magic fa-1x"></i>
                                            Transform
                                        </button>
                                    <!--<pre class="ng-binding">{{myTransforms | json}}</pre>-->
                                </td>
                            </tr>
                        </table>
                        <!--<pre class="ng-binding">{{myUpload | json}}</pre>-->
                </div>
            </div>
        </div>

    </div>

</div>
